* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", "sans-serif";
  overflow-x: hidden;
  position: relative;
}

/* ******************** */
/* section hero */
/* ******************** */

.hero {
  max-width: 190rem;
  margin-bottom: 5rem;
}

.header {
  max-width: 190rem;
  background-color: #7ac751;
  height: 5rem;
  padding: 0 13.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.896rem;
  margin-bottom: 2.1rem;
}

.engbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.engDrop {
  display: flex;
  align-items: center;
}

.logoline {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 13.5rem;
  margin-bottom: 2.1rem;
  z-index: 99;
  background-color: #fff;
}

.logo {
  width: 10.2%;
}

.searchBox {
  width: 40.3%;
  border: 2px solid #7ac751;
  height: 4.6rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.search-input {
  padding-left: 1rem;
  height: 1.7rem;
  width: 75%;
  border: none;
  outline: none;
}

.categories {
  border: none;
  outline: none;
  height: 100%;
  border-left: 2px solid #f7f8fa;
  color: #555555;
}

.category {
  font-size: 1rem;
}

.search-icon-box {
  background-color: #7ac751;
  height: 100%;
  width: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #fff;
  font-family: 900;
}

.iconBox {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logoLine-icon {
  width: 2.6rem;
  height: 2.6rem;
  color: #555555;
}

.navline {
  margin-top: 10rem;
  width: 100%;
  background-color: #f7f8fa;
  padding: 0 13.5rem;
  height: 6.7rem;
  display: flex;
  align-items: center;
  gap: 8.2rem;
}

.collection {
  height: 100%;
  width: 23%;
  padding: 0 3rem;
  background-color: #7ac751;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 18.96px;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: white;
}

.collection ion-icon[name="menu"] {
  display: none;
}

.collection ion-icon[name="close"] {
  display: none;
}

.main-nav-list {
  width: 35.1%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  color: #555555;
  font-size: 1.4rem;
  line-height: 16.59px;
  text-decoration: none;
}

.bannerLine {
  width: 100%;
  padding: 0 13.5rem;
  display: grid;
  grid-template-columns: 23% 77%;
  gap: 1rem;
}

.collections {
  background-color: #f7f8fa;
  color: #555;
}

.collection-main-list {
  list-style: none;
  width: 100%;
}

.collection-list {
  font-size: 1.4rem;
  padding: 0.9rem 3rem;
  border: 0.8px solid #e3e3e3;
}

.bannerBox {
  background: linear-gradient(
    103.4deg,
    rgba(241, 250, 255, 0.88) 0.89%,
    #f1faff 101.61%
  );
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr;
  margin-top: 1rem;
  padding: 0rem 5rem 0rem 0rem;
}

.banner-description {
  margin-top: 1rem;
  align-self: flex-start;
  justify-self: center;
  padding: 3rem 0rem 3rem 8rem;
}

.top {
  text-transform: uppercase;
  font-family: "Rubik";
  color: #7ac751;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: 5%;
  margin-bottom: 2rem;
}

.deserve {
  font-size: 4rem;
  font-weight: 500;
  line-height: 3.77rem;
  margin-bottom: 3rem;
}

.get {
  font-size: 2.7rem;
  line-height: 2.6rem;
  color: #515151b5;
  margin-bottom: 3rem;
}

.shop-now:link,
.shop-now:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  font-size: 1rem;
  word-spacing: 0.5rem;
  line-height: 20.08px;
  font-weight: 700;
  background-color: #7ac751;
  color: #fff;
  border-radius: 5px;
}

.banner-chair {
  width: 100%;
  transform: scaleX(-1);
}

.small-chairs {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  height: 3rem;
  justify-self: end;
  margin-top: 3rem;
}

.small-chair-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.chairs {
  height: 4rem;
  width: 4rem;
}

.no {
  color: #7ac751;
}

.dollar {
  color: #555555;
}

/* ******************** */
/* section features */
/* ******************** */

.features {
  max-width: 190rem;
  padding: 0 13.5rem;
  margin-bottom: 5rem;
}

.feature {
  height: 5.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1px;
}

.shipping {
  justify-self: flex-start;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.feature-logo {
  font-size: 5.8rem;
  color: #7ac751;
}

.words {
  display: grid;
}

.free {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Rubik";
  line-height: 2.6rem;
}

.order {
  font-size: 1.4rem;
  font-family: "Rubik";
  font-weight: 400;
  line-height: 2.6rem;
  color: #515151b5;
}

/* ******************** */
/* section offer */
/* ******************** */

.offers {
  max-width: 190rem;
  padding: 0 13.5rem;
  margin-bottom: 10rem;
}

.offer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.modern {
  background: url(img/image-1.jpeg);
  background-size: cover;
  height: 40rem;
  grid-row: span 2;
  padding: 2rem;
}

.five {
  font-weight: 900;
}

.geometric {
  background: url(img/image-2.jpeg);
  background-size: cover;
  padding: 2rem;
}

.minimal {
  background: url(img/image-3.jpeg);
  background-size: cover;
  padding: 2rem;
}

.mor {
  font-size: 2rem;
  font-family: "Mulish";
  font-weight: 600;
  line-height: 2.8rem;
}

.star {
  font-size: 1.5rem;
  font-family: "Mulish";
  font-weight: 600;
  line-height: 2.6rem;
  color: #7ac751;
}

.read:link,
.read:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #555555;
}

.read:hover,
.read:active {
  color: #7ac751;
}

/* ******************** */
/* section trending */
/* ******************** */

.trending {
  padding: 0 13.5rem;
  height: fit-content;
  margin-bottom: 8rem;
}

.section-header {
  text-align: center;
  font-size: 3.3rem;
  line-height: 4.5rem;
  font-weight: 700;
  font-family: "Mulish";
  color: rgba(85, 85, 85, 1);
}

.top-product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 3rem 0 5rem 0;
}

.top-trending {
  font-size: 2.4rem;
  font-weight: 600;
  color: rgba(194, 194, 194, 1);

  line-height: 3rem;
  font-family: "Mulish";
}

.top-active {
  color: #7ac751;
}

.order-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
}

.order-box {
  /* margin-right: 2rem; */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.order-box img {
  border-top-left-radius: 5px;
}

.label {
  color: rgba(117, 117, 117, 0.71);
  text-transform: uppercase;
}

.spec-text {
  color: rgba(85, 85, 85, 1);
  font-size: 125%;
  font-weight: 500;
}

.price-area {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 120%;
  color: #7ac751;
}

.crossed-price {
  color: rgba(194, 194, 194, 1);
  text-decoration: line-through;
}

.prices {
  display: flex;
  gap: 1rem;
}

.stars {
  color: rgba(194, 194, 194, 1);
}

.order-box img {
  width: 100%;
  height: 80%;
}

.tag {
  position: absolute;
  background-color: #00b7f1;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 3rem;
  height: 15px;
  color: white;
  font-size: 90%;
  padding: 2px 5px;
  top: 0;
  left: 0;
}

.saletag {
  background-color: #7ac751;
}

/* ******************** */
/* section special */
/* ******************** */

.specials {
  max-width: 190rem;
  padding: 0 13.5rem;
}

.specially {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 8rem 0;
}

.special-header {
  width: 100%;
}

.special {
  background-size: cover;
  color: rgba(85, 85, 85, 1);
  position: relative;
  padding: 2rem;
}

.type {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.details {
  margin-bottom: 1rem;
  width: 18rem;
  font-size: 1.2rem;
  color: rgba(117, 117, 117, 1);
  line-height: 1.3rem;
}

.s-one {
  background-image: url(img/offer1.jfif);
}

.s-two {
  background-image: url(img/offer2.jfif);
}

.shop {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.shop div {
  background-color: #7ac751;
  padding: 0.4rem;
  color: white;
  margin-left: 5px;
}

.time {
  display: flex;
  margin-top: 3rem;
  gap: 1.5rem;
}

.timer {
  background-color: #7ac751;
  border-radius: 50%;
  padding: 0.8rem 1.1rem;
  height: 4rem;
  width: 4rem;
  /* font-size: 90%; */
  color: white;
}

.timer p {
  font-size: 70%;
}

.off {
  width: 4.5rem;
  height: 2rem;
  font-size: 102%;
  padding: 3.5px;
  left: 100%;
  transform: translate(-100%);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
}

.pagify-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.pagify {
  width: 57rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next:link,
.next:visited {
  display: inline-block;
  padding: 1rem;
  font-size: 1.8rem;
  text-decoration: none;
  line-height: 2.3rem;
  letter-spacing: 0.8px;
  background-color: #7ac751;
  color: white;
  transition: all 0.5s;
}

.next:hover,
.next:active {
  background-color: white;
  color: #7ac751;
  border: 1px solid #7ac751;
}

.pages {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 1.8rem;
  color: rgba(117, 117, 117, 1);
}

.page-input {
  width: 5.8rem;
  height: 3.5rem;
  outline: none;
  border: none;
  border: 1px solid rgba(204, 204, 204, 1);
  text-align: center;
  background: rgba(204, 204, 204, 1);
  font-size: 1.8rem;
  color: rgba(117, 117, 117, 1);
}

.icon-box {
}

.page-icon[name="chevron-back-outline"] {
  color: white;
  background-color: #7ac751;
  width: 2.4rem;
  height: 2.4rem;
}

.page-icon[name="chevron-forward-outline"] {
  width: 2.4rem;
  height: 2.4rem;
  color: white;
  background-color: #7ac751;
}

/* ******************** */
/* section Testimony */
/* ******************** */

.testimony {
  max-width: 190rem;
  padding: 0 13.5rem;
  margin-bottom: 38rem;
}

.what {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.5rem;
  font-family: "Mullish";
  text-align: center;
  color: rgba(85, 85, 85, 1);
  margin-bottom: 5rem;
}

.slide-box {
  width: 100%;
  position: relative;
  background-color: red;
  overflow-x: visible;
}

.slide {
  width: 100%;
  padding: 8rem 12rem;
  margin: 0 auto;
  position: absolute;
  top: 0rem;
  transition: transform 2s;
}

.slide-img {
  width: 8.8rem;
  height: 8.8rem;
  background-size: contain;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-btn {
  width: 7.6rem;
  height: 7.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  z-index: 900;
}

.slide-left {
  left: 0;
  transform: translateY(-50%);
}

.slide-right {
  right: 0;
  transform: translateY(-50%);
}

.slide-icon {
  width: 3.8rem;
  height: 2.4rem;
  color: rgba(204, 204, 204, 1);
}

.slide-testimony {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  text-align: center;
  font-family: "DM Sans";
  margin-bottom: 4rem;
}

.slide-author {
  text-align: center;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: rgba(85, 85, 85, 1);
  margin-bottom: 1rem;
}

.slide-title {
  text-align: center;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: rgba(81, 81, 81, 1);
}

/* ******************** */
/* section Article */
/* ******************** */

.article {
  max-width: 190rem;
  padding: 0 13.5rem;
  margin-bottom: 10rem;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.article-1 {
  background: url(img/image-3.jpeg);
  background-size: cover;
  padding: 2rem;
  height: 30rem;
}

/* ******************** */
/* section footer */
/* ******************** */

.footer {
  max-width: 190rem;
  padding: 0 13.5rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
}

.footer-icon-box {
}

.footer-logo {
  width: 40%;
  height: 3rem;
  margin-bottom: 1rem;
}

.footer-text {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Rubik";
  line-height: 3.2rem;
  color: #555;
  margin-bottom: 1rem;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-icon {
  width: 3.22rem;
  height: 3.22rem;
}

.help {
}

.footer-main-list {
  list-style: none;
}

.footer-list {
  font-size: 1.8rem;
  line-height: 4rem;
  color: #555;
}

.footer-list:first-child {
  font-weight: 700;
  color: black;
}

.second-footer {
  width: 100%;
  display: flex;
  padding-right: 11rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 7rem;
  margin-bottom: 5rem;
}

.sec-footer {
  font-family: "Rubik";
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
}

.privacy {
  display: flex;
  gap: 5rem;
}

.terms {
  font-family: "Rubik";
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
}

/* Helpers */

.modal {
  position: fixed;
  width: 60%;
  height: 45rem;
  background-color: #f7f8fa;
  text-align: center;
  top: 0;
  left: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  z-index: 999;
  transform: translate(-50%, 50%);
}

.modal-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.close {
  font-size: 2rem;
  font-family: sans-serif;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.sign-up {
  font-size: 3rem;
  font-style: italic;
  color: #7ac751;
}

.input-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  gap: 2rem;
}

.input-div-sign-in {
  grid-template-columns: 1fr;
}

.modal-input {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}

.join-us {
  padding: 1.5rem;
  border: none;
  background-color: #7ac751;
  color: #fff;
  border-radius: 1rem;
  font-size: 2rem;
}

.modal-buttom {
  display: flex;
  justify-content: space-between;
}

.sign-in-link {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 2rem;
}

.sign-in {
  font-size: 2rem;
  text-decoration: none;
  color: #7ac751;
}

.forgot-password:link,
.forgot-password:visited {
  font-size: 2rem;
  text-decoration: none;
  color: #7ac751;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #555;
  z-index: 998;
}

.hidden {
  display: none;
}
